<header>
  <div class="header__left" appScrollFadeIn>
    <div class="header__profile">
      <img
        class="header__profile_background"
        src="./assets/background/profile_background.svg"
        alt="Background behind Profile Picture"
      />
      <img
        class="header__profile_img"
        src="./assets/images/profile_picture.webp"
        alt="A picture of me"
      />
    </div>
  </div>
  <div
    appScrollFadeIn
    animationStyle="bottom-top"
    class="header__right hide-mobile"
  >
    <div class="header__text_container">
      <div class="left_text">
        <h1 class="vertical_text">I am</h1>
      </div>
      <div class="right_text">
        <h1 class="name_text">Marcel Schliwka</h1>
        <h2 class="frontend_text">Frontend Developer</h2>
        <my-button text="Let's talk" class="talk__btn" href="#contact" />
      </div>
    </div>
  </div>
</header>
<section>
  <div class="background_curve_container">
    <img src="./assets/background/background_curve.png" alt="" srcset="" />
  </div>
  <div
    class="header__mobile show-mobile"
    appScrollFadeIn
    animationStyle="left-right"
  >
    <div class="header__text_container">
      <div class="left_text">
        <h1 class="vertical_text">I am</h1>
      </div>
      <div class="right_text">
        <h1 class="name_text">Marcel Schliwka</h1>
        <h2 class="frontend_text">Frontend Developer</h2>
      </div>
    </div>
  </div>
  <div class="mobile__btn__wrapper show-mobile">
    <my-button text="Let's talk" class="mobile__talk__btn" href="#contact" />
  </div>
  <div class="social__links">
    <div class="social__left" appScrollFadeIn animationStyle="left-right">
      <span class="social__line"></span>
      <a href="https://github.com/marcel-schliwka/" target="_blank"
        ><img
          src="./assets/icons/github_white.svg"
          alt="Github"
          class="social__left__icons"
      /></a>
      <a href="mailto:marcelschliwka@protonmail.com" target="_blank"
        ><img
          src="./assets/icons/email_white.svg"
          alt="E-Mail"
          class="social__left__icons"
      /></a>
      <a href="https://linkedin.com/in/marcel-schliwka/" target="_blank"
        ><img
          src="./assets/icons/linkedin_white.svg"
          alt="LinkedIn"
          class="social__left__icons"
      /></a>
      <a
        href="mailto:marcelschliwka@protonmail.com"
        class="social__mail hide-mobile"
        >marcelschliwka@protonmail.com</a
      >
    </div>
    <div class="social__right hide-mobile">
      <a appScrollFadeIn href="#skills" class="social__scroll"
        >Scroll down <img src="./assets/icons/arrow_down.svg" alt=""
      /></a>
    </div>
  </div>
</section>
