<img
  src="./assets/background/footer_background.svg"
  alt="Red Background before footer"
  class="footer__background"
/>
<footer>
  <div class="content">
    <div class="left" data-aos="fade-right" data-aos-offset="100">
      <a href="#navigation" class="logo__link"
        ><img src="./assets/logo/logo.svg" alt="Logo" class="logo"
      /></a>
      <a href="/impress" class="impress__link hide-mobile">Impressum</a>
    </div>
    <div class="middle" data-aos="fade-up" data-aos-offset="100">
      <span class="copyright__text">&copy; Marcel Schliwka 2023</span>
    </div>
    <div class="right" data-aos="fade-left" data-aos-offset="100">
      <div class="social__links">
        <a href="https://github.com/marcel-schliwka/" target="_blank"
          ><img src="./assets/icons/github_white.svg" alt="Github" class="link"
        /></a>
        <a href="mailto:marcelschliwka@protonmail.com" target="_blank"
          ><img src="./assets/icons/email_white.svg" alt="E-Mail" class="link"
        /></a>
        <a href="https://www.linkedin.com/in/marcel-schliwka/" target="_blank">
          <img
            src="./assets/icons/linkedin_white.svg"
            alt="LinkedIn"
            class="link"
          />
        </a>
      </div>
    </div>
    <a href="/impress" class="impress__link show-mobile">Impressum</a>
  </div>
</footer>
