<footer>
  <div class="content">
    <div class="left">
      <h1 class="heading__text">Marcel</h1>
      <a href="#" class="impress__link hide-mobile">Impressum</a>
    </div>
    <div class="middle">
      <span class="copyright__text">&copy; Marcel Schliwka 2023</span>
    </div>
    <div class="right">
      <div class="social__links">
        <a href="https://github.com/marcel-schliwka/" target="_blank"
          ><img src="./assets/icons/github_white.svg" alt="Github" class="link"
        /></a>
        <a href="mailto:marcelschliwka@protonmail.com" target="_blank"
          ><img src="./assets/icons/email_white.svg" alt="E-Mail" class="link"
        /></a>
        <a href="https://www.linkedin.com/in/marcel-schliwka/" target="_blank">
          <img
            src="./assets/icons/linkedin_white.svg"
            alt="LinkedIn"
            class="link"
          />
        </a>
      </div>
    </div>
    <a href="#" class="impress__link show-mobile">Impressum</a>
  </div>
</footer>
