footer {
  border-top: 4px solid #ff4747;
  overflow: hidden;
  background-color: #141d2f;
  z-index: 5;

  .show-mobile {
    display: none;
  }

  .content {
    color: white;
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    padding-bottom: 100px;

    .impress__link {
      transition: 75ms ease-in-out;
      &:hover {
        color: #ff4747;
        text-decoration: underline;
      }
    }

    .heading__text {
      font-size: 3rem;
    }
    .copyright__text {
      font-size: 1.5rem;
    }

    .social__links {
      display: flex;
      gap: 42px;

      img {
        transition: 125ms ease-in-out;
        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .hide-mobile {
    display: none;
  }

  .show-mobile {
    display: block !important;
  }
  .content {
    flex-direction: column;
    text-align: center;
    gap: 23px;
    padding: 50px 25px !important;
  }
}
