article {
  color: white;
  display: flex;
  justify-content: flex-start;
  max-width: 1920px;
  width: 1400px;
  margin-bottom: 150px;

  .left__side {
    img {
      object-fit: cover;
      width: 600px;
    }
  }

  .project__title {
    font-size: 2rem;
    color: #ff4747;
  }

  .description {
    max-width: 500px;
  }

  .techstack__text {
    font-weight: lighter;
    color: #fa7902;
    font-size: 1.5rem;
    margin-block: 15px;
  }

  .right__buttons {
    display: flex;
    margin-top: 35px;
    gap: 86px;

    a {
      color: white;
      cursor: pointer;
      border-radius: 10px;
      padding: 15px 30px;
      font-size: 23px;
    }
    .left__btn {
      transition: 125ms ease-in-out;
      background-color: #ff4747;
      border: unset;

      &:hover {
        background-color: #fa7902;
      }
    }
    .right__btn {
      background-color: transparent;
      border: 1px solid #fa7902;
      transition: 125ms ease-in-out;

      &:hover {
        background-color: #fa7902;
      }
    }
  }
}

.reversed {
  flex-direction: row-reverse;
}

@media (max-width: 1220px) {
  article {
    flex-direction: column;
    text-align: center;
    text-wrap: wrap;
  }

  .right__buttons {
    justify-content: center;
  }

  .right__side {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .reversed {
    flex-direction: column;
  }
}

@media (max-width: 670px) {
  .left__side {
    img {
      width: 300px !important;
      object-fit: cover;
    }
  }

  .right__buttons {
    gap: 20px !important;
    width: 90%;
  }
  article {
    .description {
      max-width: 200px;
    }
  }
}

@media (max-width: 450px) {
  .techstack__text {
    font-size: 1.25rem !important;
    width: 60% !important;
    margin: auto;
  }
  .description {
    margin: auto !important;
    width: 60% !important;
  }
  .right__buttons {
    flex-direction: column;
    a {
      max-width: 40%;
      margin: auto;
    }
  }
}
