<img
  class="social__background"
  src="./assets/background/scroll_background.svg"
  alt=""
  srcset=""
/>
<section class="about__section" id="about-me">
  <div class="left__side">
    <h1 data-aos="fade-right">About me</h1>
    <p data-aos="fade-right">
      I am a 25-year-old aspiring web developer based in Zwickau, Germany. In
      2023, I embarked on a journey to deepen my knowledge in web development,
      driven by a passion for technology and a desire for professional growth.
    </p>
    <div class="bottom__container">
      <div class="bottom__second__container" data-aos="fade-right">
        <img
          src="./assets/icons/light_bulb.svg"
          alt="Light Bulb icon"
          class="about__icons"
        />
        <p>
          My decision to dive into the world of web development stems from a
          keen interest in building interactive and user-friendly digital
          experiences. I am dedicated to mastering both the front-end and
          back-end aspects of web development
        </p>
      </div>
      <div class="bottom__second__container" data-aos="fade-right">
        <img
          src="./assets/icons/puzzle_piece.svg"
          alt="Puzzle icon"
          class="about__icons"
        />
        <p>
          As I continue my journey in this dynamic and ever-evolving field, I am
          excited to connect with like-minded professionals and companies. My
          goal is to not only enhance my technical abilities but also to
          contribute effectively to a team that values innovation, creativity,
          and quality in web development.
        </p>
      </div>
    </div>
  </div>
  <div class="right__side" data-aos="fade-left">
    <div class="about__pic__container">
      <img src="./assets/images/about_pb.webp" alt="Face" />
      <span class="line__right"></span>
    </div>
  </div>
</section>
