<section class="about__section">
  <img
    class="social__background"
    src="./assets/background/scroll_background.svg"
    alt=""
    srcset=""
  />

  <div class="left__side">
    <h1>About me</h1>
    <p>
      Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum
      dolor sit amet, consectetur adipiscing elit. Ut auctor sem non tempus
      convallis. Integer et justo vitae urna finibus eleifend sit amet porttitor
      sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
    </p>
    <div class="bottom__container">
      <div class="bottom__second__container">
        <img src="./assets/icons/light_bulb.svg" alt="Light Bulb icon" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
      <div class="bottom__second__container">
        <img src="./assets/icons/puzzle_piece.svg" alt="Puzzle icon" />
        <p>
          Some personal thing to share(...) Donec ut imperdiet diam, et
          convallis neque. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos.
        </p>
      </div>
    </div>
  </div>
  <div class="right__side">
    <div class="about__pic__container">
      <img src="./assets/images/face_photo.png" alt="Face" />
      <span class="line__right"></span>
    </div>
  </div>
</section>
