a {
  align-self: center;
  cursor: pointer;
  width: fit-content;
  border: unset;
  text-align: center;
  color: white;
  font-size: 1.25rem;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fa7902;
}
