section {
  color: white;
  margin-top: 250px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.show-mobile {
  display: none;
}
.skill__background {
  position: absolute;
  z-index: 0;
  left: 0;
}

.skills__grid {
  z-index: 5;
  position: relative;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  column-gap: 123px;
  row-gap: 52px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  p {
    text-align: center;
  }
}

.right__side {
  display: flex;
  flex-direction: column;
  z-index: 5;
  align-items: flex-end;
  gap: 34px;
  .right__heading {
    position: relative;
    h1 {
      font-size: 5rem;
    }
    .right__heading__line {
      display: block;
      width: 50px;
      height: 3px;
      border-radius: 2px;
      background-color: #fa7902;
      position: absolute;
      top: 50%;
      right: -100px;
    }
  }

  p {
    width: 70%;
    text-align: right;
  }
  .intouch {
    align-self: end;
    margin-right: 50px;
  }
}

@media (max-width: 1380px) {
  section {
    flex-direction: column-reverse;
    gap: 100px;
  }
}
@media (max-width: 900px) {
  .skills__grid {
    grid-template-columns: 100px 100px 100px;
  }
}
@media (max-width: 700px) {
  .skills__grid {
    column-gap: 20%;
  }

  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: flex;
  }
  .mobile__btn__container {
    justify-content: center;
    width: 100%;
    margin-top: 75px;
  }
}

@media (max-width: 600px) {
  section {
    padding-left: 25px;
  }
  .right__heading {
    h1 {
      font-size: 2.8rem !important;
    }
  }
}
@media (max-width: 500px) {
  .skills__grid {
    column-gap: 5%;
  }
  .skill {
    img {
      width: 30px;
      height: 30px;
    }
    p {
      font-size: 0.8rem;
    }
  }
}
