<section id="skills">
  <img
    src="./assets/background/skills_background.svg"
    alt="Color Background Skill Section"
    class="skill__background"
  />
  <div class="left__side">
    <div class="skills__grid" appScrollFadeIn>
      <div class="skill">
        <img src="./assets/icons/skills/angular.svg" alt="Angular Icon" />
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/typescript.svg" alt="Typescript Icon" />
        <p>Typescript</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/javascript.svg" alt="Javascript Icon" />
        <p>Javascript</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/html.svg" alt="HTML Icon" />
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/firebase.svg" alt="Firebase Icon" />
        <p>Firebase</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/git.svg" alt="GIT Icon" />
        <p>GIT</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/css.svg" alt="CSS Icon" />
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/rest_api.svg" alt="Rest-Api Icon" />
        <p>Rest-Api</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/scrum.svg" alt="Scrum Icon" />
        <p>Scrum</p>
      </div>
      <div class="skill">
        <img
          src="./assets/icons/skills/material_design.svg"
          alt="Material Design Icon"
        />
        <p>Material design</p>
      </div>
    </div>
  </div>

  <div class="right__side" appScrollFadeIn>
    <div class="right__heading">
      <h1>My skills</h1>
      <span class="right__heading__line"></span>
    </div>
    <p>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </p>
    <my-button text="Get in touch" class="intouch hide-mobile"></my-button>
  </div>
</section>
<div class="mobile__btn__container show-mobile">
  <my-button text="Get in touch" class="intouch"></my-button>
</div>
