<img
  src="./assets/background/skills_background.svg"
  alt="Color Background Skill Section"
  class="skill__background"
/>
<section id="skills">
  <div class="left__side">
    <div class="skills__grid" data-aos="fade-right">
      <div class="skill">
        <img src="./assets/icons/skills/angular.svg" alt="Angular Icon" />
        <p>Angular</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/typescript.svg" alt="Typescript Icon" />
        <p>Typescript</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/javascript.svg" alt="Javascript Icon" />
        <p>Javascript</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/html.svg" alt="HTML Icon" />
        <p>HTML</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/firebase.svg" alt="Firebase Icon" />
        <p>Firebase</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/git.svg" alt="GIT Icon" />
        <p>GIT</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/css.svg" alt="CSS Icon" />
        <p>CSS</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/rest_api.svg" alt="Rest-Api Icon" />
        <p>Rest-Api</p>
      </div>
      <div class="skill">
        <img src="./assets/icons/skills/scrum.svg" alt="Scrum Icon" />
        <p>Scrum</p>
      </div>
      <div class="skill">
        <img
          src="./assets/icons/skills/material_design.svg"
          alt="Material Design Icon"
        />
        <p>Material design</p>
      </div>
    </div>
  </div>

  <div class="right__side" data-aos="fade-left">
    <div class="right__heading">
      <h1>My skills <span class="right__heading__line"></span></h1>
    </div>
    <p>
      I have grown my frontend developments skills that have allowed me to
      create different real projects.
    </p>
    <my-button
      text="Get in touch"
      class="intouch hide-mobile"
      data-aos="fade-up"
      href="#contact"
    ></my-button>
  </div>
</section>
<div class="mobile__btn__container show-mobile" data-aos="fade-up">
  <my-button text="Get in touch" class="intouch" href="#contact"></my-button>
</div>
