section {
  overflow: hidden;
  position: relative;
  margin: 250px auto;
  max-width: 1920px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  h1 {
    font-size: 5rem;
  }

  .heading__container {
    position: relative;
    z-index: 5;
    margin-bottom: 200px;

    .line {
      display: inline-block;
      height: 3px;
      border-radius: 2px;
      background-color: #fa7902;
      position: absolute;
    }
    .line__left {
      width: 100px;
      top: 50%;
      left: -40%;
    }
    .line__right {
      width: 1525px;
      position: absolute;
      top: 50%;
      transform: translateX(400px);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

.mobile__line_right {
  display: inline-block;
  height: 3px;
  border-radius: 2px;
  background-color: #fa7902;
  position: absolute;
  width: 200px;
  margin-left: 50px;
  top: 25%;
}
.mobile__line_left {
  display: inline-block;
  height: 3px;
  border-radius: 2px;
  background-color: #fa7902;
  position: absolute;
  width: 50px;
  left: 0;
  top: 25%;
}

.background {
  position: absolute;
  pointer-events: none;
  z-index: 1;
  left: 0;
  object-fit: cover;

  top: 30%;
}

.project__template {
  position: relative;
  z-index: 1;
}

.show-mobile {
  display: none;
}

@media (max-width: 1920px) {
  section {
    max-width: 90%;
  }
}

@media (max-width: 1220px) {
  .background {
    width: 500px;
  }
}

@media (max-width: 600px) {
  .show-mobile {
    display: inline-block;
  }

  img {
    object-fit: cover;
  }

  section {
    h1 {
      font-size: 2.8rem;
      text-align: center;
    }
    p {
      text-align: center;
    }
  }
  .line__right,
  .line__left {
    display: none !important;
  }
}
@media (max-width: 530px) {
  .mobile__line_left {
    left: -40px;
  }
  .background {
    width: 400px;
    left: -100px;
  }
}
@media (max-width: 450px) {
  .mobile__line_left {
    left: -60px;
  }
}
