<img
  src="./assets/background/portfolio_background.svg"
  alt="Red Background Portfolio"
  class="background"
/>
<section id="portfolio">
  <div class="heading__container" appScrollFadeIn animationStyle="right-left">
    <span class="line__left line"></span>
    <h1>
      <span class="mobile__line_left show-mobile"></span>Portfolio
      <span class="mobile__line_right show-mobile"></span>
    </h1>
    <p>This page is a sample of my work - please feel free to try them out.</p>
    <span class="line__right line"></span>
  </div>

  <project-template
    *ngFor="let project of projects; let i = index"
    [isOdd]="i % 2 !== 0"
    [data]="project"
    class="project__template"
  />
</section>
