<nav class="navigation" data-aos="fade-down" id="navigation">
  <div class="navigation__left">
    <a href=""
      ><img src="./assets/logo/logo.svg" alt="My Logo" class="logo"
    /></a>
  </div>
  <div class="navigation__right">
    <ul class="hide-mobile">
      <div class="link__container">
        <li><a href="#about-me" title="About me">About me</a></li>
      </div>
      <div class="link__container">
        <li><a href="#skills" title="Skills">Skills</a></li>
      </div>
      <div class="link__container">
        <li><a href="#portfolio" title="Portfolio">Portfolio</a></li>
      </div>
    </ul>
    <div
      class="mobile__menu__btn show-mobile"
      data-isOpen="false"
      (click)="openMobileMenu($event)"
      id="openMobileMenu"
    >
      <a href=""> </a>
    </div>
  </div>
</nav>

<aside
  class="mobile__nav show-mobile"
  data-isOpen="false"
  (click)="openMobileMenu($event)"
>
  <ul>
    <li>
      <a href="#about-me">About me</a>
    </li>
    <li>
      <a href="#skills">Skills</a>
    </li>
    <li>
      <a href="#portfolio">Portfolio</a>
    </li>
  </ul>
</aside>
